<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Router.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2173E8431CFE934000E9EAFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2173E85C1CFE934000E9EAFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2173E8671CFE934000E9EAFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
